<!-- ========== -->
<!-- Login Form -->
<!-- ========== -->
<div class="container loginWrapper">
    <form class="form-login" action="/login" method="post">
        <div class="text-center mb-4">
            <h5 class="h5 mb-3 font-weight-light">ComValue File Browser</h5>
        </div>
        <input type="text" name="username" id="username" class="form-control mb-3" placeholder="Name" autofocus onkeyup="checkFormValidity()">
        <input type="password" name="password" id="password" class="form-control mb-4" placeholder="Kennwort" onkeyup="checkFormValidity()">
        <button class="btn btn-md btn-primary btn-block" type="submit" disabled id="loginBtn">Login</button>
        <button class="btn btn-md btn-light btn-block" type="submit">Login with Csafe</button>
    </form>
</div>
<!-- ============================= -->
<!-- ========== Scripts ========== -->
<!-- ============================= -->
<script>
    function checkFormValidity() {
        let username = document.getElementById('username').value;
        let password = document.getElementById('password').value;
        document.getElementById('loginBtn').disabled = !(username !== '' && password !== '');
    }
</script>