<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>
    <% include ../partials/header %>
    <div class="container">
        <div class="row">
            <h6>User login successful !!</h6>
        </div>
    </div>
</body>

<%# include ../partials/footer %>

</html>