<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>
    <div class="container unauthorisedWrapper">
        <h5>You are not authorised to view this page.</h5>
        <h6>Go back to <a href="/">home</a>.</h6>
    </div>
</body>
</html>

