
<nav class="navbar navbar-expand-lg navbar-light bg-light" >
    <div class="container">
        <a class="navbar-brand navbarBrand" href="#">File Browser</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active mr-3">
                    <a class="nav-link" href="my-drive"><img src="/images/home.svg" alt="" class="navbarIcon"><span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item mr-3">
                    <a class="nav-link" href="#"> <img src="/images/upload.svg" alt="" class="navbarIcon"></a>
                </li>
                <li class="nav-item mr-3">
                    <a class="nav-link" href="logout"><img src="/images/logout.svg" alt="" class="navbarIcon"></a>
                </li>
            </ul>
        </div>
    </div>
</nav>